body {
	background-color: #bbb;
}

header {
	font-size: 1.1em;
	font-family: Helvetica;
}

img {
}

.main-nav {
	background-color: #ccc;
}
.main-nav ul {
	padding:0;
}
.main-nav li {
	display:inline-flex;
	font-weight: bold;
	font-size: 1.1em;
	padding-left:2%;
}
.main-nav a {
	text-decoration: none;
	color:#000;
	font-style:italic;
}
.main-nav a:hover{
	background-color: #888;
	color:#fff;
}

.plans {
	display:grid;
	grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
	grid-auto-rows: minmax(100px, auto);
	grid-gap:1.5em;
}
.plans div{
	background-color: #ccc;
}
.plans img{
	width:80%;
	height:80%;
}

